:root {
  --font-body: sans-serif;

  --color-dark: #111111;
  --color-white: #ffffff;
  --color-info: #00aaff;
  --color-success: #138626;
  --color-failure: #ff0000;

  --font-size-normal: 1rem;
  --line-height-normal: 1;

  --space-small: .5rem;
  --padding-tiny: .25rem;
  --padding-small: .5rem;
  --padding-normal: 1rem;
  --gap-xsmall: .25rem;
  --gap-small: .5rem;
  --gap-normal: 1rem;
  --gap-medium: 2rem;
  --gap-large: 4rem;

  --radius: 50px;
  --shadow: 0 0 50px rgba(0,0,0,.125);
}