.main-toolbar {
  display: flex;
  gap: var(--gap-small);

  .basket {
    display: flex;
    align-items: flex-start;
    gap: var(--gap-xsmall);

    &:hover {
      cursor: pointer;
    }
  }

  .search {
    &:hover {
      cursor: pointer;
    }
  }
}
