.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-medium);
  padding-inline-start: var(--padding-small);
  padding-inline-end: var(--padding-small);
}